<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="io.github.ziqicongdonglai.chat.infrastructure.po.ChatRecord"/>
        <package name="io.github.ziqicongdonglai.chat.infrastructure.po.Groups"/>
        <package name="io.github.ziqicongdonglai.chat.infrastructure.po.TalkBox"/>
        <package name="io.github.ziqicongdonglai.chat.infrastructure.po.User"/>
        <package name="io.github.ziqicongdonglai.chat.infrastructure.po.UserFriend"/>
        <package name="io.github.ziqicongdonglai.chat.infrastructure.po.UserGroup"/>
    </typeAliases>
</configuration>