.root {
    -fx-background-image: url(../img/bg.jpg);
    -fx-background-size: cover;
}

.container {
    -fx-background-color: #b0c6d5;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

/*分割面板，设置水平分割条透明*/
.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
}

.title {
    -fx-text-fill: #2c3f40;
    -fx-font-size: 15;
}

.btn {
    -fx-background-color: #1e6a6c;
    -fx-text-fill: #f6f6f6;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-min-height: 35;
    -fx-min-width: 80;
}